.notification-modal {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    color: white;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    min-width: 250px;
  }
  
  .notification-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .notification-content p {
    margin: 0 0 10px;
    font-size: 16px;
  }
  
  .notification-content button {
    background-color: #ff5c5c;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .notification-content button:hover {
    background-color: #ff3232;
  }
  