/* Post container */
.post-card {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  padding-left: 2%;
  background-color: #434141;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s, box-shadow 0.2s;
  gap: 20px;
}

.post-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* Image container */
.post-image {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px 0 0 10px;
  flex-shrink: 0;
}

.post-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.post-image:hover img {
  transform: scale(1.05);
}

/* Post info */
.post-info {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-link {
  text-decoration: none;
}

.post-title {
  margin: 0 0 10px 0;
  font-size: 1.8rem;
  color: #3498db;
  transition: color 0.3s;
}

.post-title:hover {
  color: #2980b9;
}

.post-meta {
  font-size: 0.9rem;
  color:#9a9393;
  margin: 3px 0;
}

/* Responsive */
@media (max-width: 900px) {
  .post-card {
    flex-direction: column;
    height: auto;
  }

  .post-image {
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 0;
  }

  .post-info {
    padding: 15px;
  }
}

@media (max-width: 600px) {
  .post-title {
    font-size: 1.4rem;
  }

  .post-summary {
    font-size: 0.95rem;
  }

  .post-meta {
    font-size: 0.85rem;
  }

  .post-card {
    margin: 15px 10px;
  }
}



.post-summary {
  overflow: hidden;
  transition: max-height 0.3s ease;
  line-height: 1.5rem; /* adjust for spacing */
  color: white;
}

.post-summary.collapsed {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of visible lines */
  -webkit-box-orient: vertical;
  overflow: auto;
}

.post-summary.expanded {
  display: block;
}

.read-more {
  color: #3498db;
  cursor: pointer;
  font-weight: bold;
  margin-left: 5px;
  transition: color 0.3s;
}

.read-more:hover {
  color: #2980b9;
}
